---
import BlogCard from '@components/BlogCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const blogs = (
  await getCollection('blog', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  )
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<BaseLayout title="Blog Posts" class:list={'space-y-6'}>
  <h1 class="text-2xl font-semibold">Blog</h1>

  <hr class="my-6 border-gray-500" />

  <ul class="not-prose list-none">
    {blogs.map(({ data, slug }) => <BlogCard data={data} slug={slug} />)}
  </ul>
</BaseLayout>
