---
import { getCollection } from "astro:content";
import BlogCard from "@/components/BlogCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const blogs = (
  await getCollection("blog", ({ data }) =>
    import.meta.env.PROD ? data.isDraft !== true : true,
  )
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<BaseLayout title="Blog Posts" class="space-y-6">
  <h1 class="text-4xl leading-none font-semibold tracking-tight">Blog posts</h1>

  <ul class="flex flex-col divide-y border-t">
    {
      blogs.map(({ data, slug }) => (
        <li class="py-4">
          <BlogCard data={data} slug={slug} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
