---
import BlogCard from '@components/BlogCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const blogs = (
  await getCollection('blog', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  )
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<BaseLayout title="Blog Posts">
  <div class="space-y-4">
    <h1 class="gradient-text text-3xl font-bold">Blog</h1>
    <p class="text-gray-200">
      I write about web development, and other things I find interesting.
    </p>
  </div>

  <hr class="my-6 border-gray-500" />

  <ul class="not-prose list-none">
    {blogs.map(({ data, slug }) => <BlogCard data={data} slug={slug} />)}
  </ul>
</BaseLayout>
