---
import Layout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'
import BlogCard from '../components/BlogCard.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

type BlogData = CollectionEntry<'blog'>['data']

const blogs = (
  await getCollection('blog', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  )
)
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    )
  })
  .slice(0, 5)
---

<Layout title="Douglas Rocha">
  <main>
    <div class="mb-4 space-y-4">
      <h1 class="text-3xl font-bold">Douglas Rocha</h1>
      <p class="leading-6">
        Software Engineer currently studying Computer Science at Arizona State
        University.
      </p>
      <p class="font-semibold leading-6">
        Check out my blog posts and projects below.
      </p>
    </div>

    <ul class="flex flex-wrap gap-4">
      <Card
        slug="https://quanty.xyz"
        title="Quanty"
        body="Supercharge your Discord server with new features."
      />
      <Card
        slug="https://github.com/dougrocha/KeyboardTracker"
        title="Meka"
        body="Find your next keyboard with Meka and share your favorite keyboards with the community."
      />
      <Card
        slug="https://github.com/dougrocha/portfolio"
        title="Portfolio"
        body="Check out my portfolio and see how I built it."
      />
      <Card
        slug="https://github.com/dougrocha/dotfiles"
        title="Dotfiles"
        body="My configurations for Windows and MacOS."
      />
    </ul>

    <div class="my-4">
      <h2 class="mb-3 text-2xl font-bold">Recent Blog Posts:</h2>
      <p>
        I write about software engineering, web development, and other topics
        related to my daily workflow.
      </p>

      <hr class="my-4 border-gray-500" />

      <ul class="space-y-4 overflow-y-scroll">
        {
          blogs.map(({ data, slug }) => (
            <BlogCard data={data as BlogData} slug={slug} />
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
