---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'
import { ArrowRight } from 'lucide-react'
import { differenceInYears } from 'date-fns'

const blogs = (
  await getCollection('blog', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  )
)
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    )
  })
  .slice(0, 5)

const age = differenceInYears(new Date(), new Date(2001, 9, 3))
---

<BaseLayout title="Douglas Rocha">
  <div>
    <h1 class="opacity-60">Douglas Rocha</h1>
    <p class="mt-4 leading-relaxed text-gray-300">
      Hey there, My name's
      <span class="font-semibold text-white">Doug</span>
       and I'm a {age} y/o student at Arizona State University. I'm currently
      interested in
      <span class="font-semibold text-white">web development</span>
       and
      <span class="font-semibold text-white">game development with Rust</span>.
    </p>
  </div>

  <div class="space-y-6">
    <h2 class="text-2xl font-semibold">Projects</h2>
    <hr class="!mt-4 border-gray-500" />

    <ul class="grid gap-4 sm:grid-cols-2">
      <Card
        slug="https://quanty.xyz"
        title="Quanty"
        body="Supercharge your Discord server with new features."
      />
      <Card
        slug="https://github.com/dougrocha/KeyboardTracker"
        title="Meka"
        body="Find your next keyboard with Meka and share your favorite keyboards with the community."
      />
      <Card
        slug="https://github.com/dougrocha/portfolio"
        title="Portfolio"
        body="Check out my portfolio and see how I built it."
      />
      <Card
        slug="https://github.com/dougrocha/dotfiles"
        title="Dotfiles"
        body="My configurations for Windows and MacOS."
      />
    </ul>

    <a
      href="/blog"
      class="ml-auto flex max-w-fit items-center rounded bg-neutral-600 px-4 py-2 text-sm"
    >
      More Projects
      <ArrowRight className="ml-2 h-5 w-5" />
    </a>
  </div>

  <div class="space-y-6">
    <h2 class="text-2xl font-semibold">Blog</h2>
    <hr class="!mt-4 border-gray-500" />

    <ul class="space-y-4 overflow-y-scroll">
      {blogs.map(({ data, slug }) => <BlogCard slim data={data} slug={slug} />)}
    </ul>

    <a
      href="/blog"
      class="ml-auto flex max-w-fit items-center rounded bg-neutral-600 px-4 py-2 text-sm"
    >
      All Blog Posts
      <ArrowRight className="ml-2 h-5 w-5" />
    </a>
  </div>
</BaseLayout>
