---
import { getCollection } from 'astro:content'
import { ArrowRight, BookOpenCheck } from 'lucide-react'
import { differenceInYears } from 'date-fns'

import BaseLayout from '@layouts/BaseLayout.astro'
import BlogCard from '@components/BlogCard.astro'
import Tabs from '@components/Tabs.astro'

const blogs = (
  await getCollection('blog', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  )
)
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    )
  })
  .slice(0, 5)

const age = differenceInYears(new Date(), new Date(2001, 9, 3))
---

<BaseLayout title="Douglas Rocha">
  <article class="mt-8 flex flex-col gap-16 pb-16">
    <div>
      <p class="mt-4 leading-relaxed text-gray-700 dark:text-gray-300">
        Hey there, My name's
        <span class="font-semibold text-black dark:text-white">Doug</span>
        and I'm a {age} y/o student at Arizona State University. I'm currently interested
        in
        <span class="font-semibold text-black dark:text-white"
          >web development</span
        >
        and
        <span class="font-semibold text-black dark:text-white"
          >game development with Rust</span
        >.
      </p>
    </div>

    <Tabs />

    <div class="rounded-xl border border-[#1e1f39] bg-[#080823]">
      <div class="space-y-4 p-6">
        <BookOpenCheck className="h-6 w-6" />

        <div class="flex items-center justify-between">
          <h3
            class="text-xl font-semibold leading-none tracking-tight sm:text-2xl"
          >
            recent posts
          </h3>

          <a
            href="/blogs"
            class="flex items-center justify-center gap-2 text-sm text-gray-700 dark:text-gray-200"
          >
            read more
            <ArrowRight className="h-6 w-6" />
          </a>
        </div>
      </div>

      <ul
        class="flex flex-col divide-y-[1px] divide-[#1e1f39] border-t border-[#1e1f39]"
      >
        {
          blogs.map(({ data, slug }) => (
            <li class="px-6 py-4">
              <BlogCard slim data={data} slug={slug} />
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</BaseLayout>
