---
import { getCollection } from "astro:content";
import { differenceInYears } from "date-fns";
import { ArrowRight } from "lucide-react";
import BlogCard from "@/components/BlogCard.astro";
import ProjectExperienceTabs from "@/components/ProjectExperienceTabs.tsx";
import { buttonVariants } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { cn } from "@/lib/utils";

const blogs = (
  await getCollection("blog", ({ data }) =>
    import.meta.env.PROD ? data.isDraft !== true : true,
  )
)
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  })
  .slice(0, 5);

const age = differenceInYears(new Date(), new Date(2001, 9, 3));
---

<BaseLayout title="Douglas Rocha">
  <article class="flex flex-col gap-16 pb-16">
    <div>
      <p class="mt-4 leading-relaxed text-muted-foreground">
        Hey there, My name's
        <span class="font-semibold text-foreground">Doug</span>
        and I'm a {age} y/o student at Arizona State University. I'm currently interested
        in
        <span class="font-semibold text-foreground">web development</span>
        and
        <span class="font-semibold text-foreground"
          >game development with Rust</span
        >.
      </p>
    </div>

    <ProjectExperienceTabs client:only="react" />

    <div class="rounded-xl border">
      <div class="space-y-4 p-6">
        <div class="flex items-center justify-between">
          <h2 class="text-xl leading-none font-semibold sm:text-2xl">
            Recent Posts
          </h2>

          <a
            href="/blog"
            class={cn(buttonVariants({ variant: "ghost", size: "sm" }))}
          >
            read more
            <ArrowRight />
          </a>
        </div>
      </div>

      <ul class="flex flex-col divide-y border-t">
        {
          blogs.map(({ data, slug }) => (
            <li class="px-6 py-4">
              <BlogCard slim data={data} slug={slug} />
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</BaseLayout>
