---
import { getCollection } from 'astro:content'
import { ArrowRight } from 'lucide-react'
import { differenceInYears } from 'date-fns'

import BaseLayout from '@layouts/BaseLayout.astro'
import BlogCard from '@components/BlogCard.astro'
import Tabs from '@components/Tabs.astro'

const blogs = (
  await getCollection('blog', ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true,
  )
)
  .sort((a, b) => {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    )
  })
  .slice(0, 5)

const age = differenceInYears(new Date(), new Date(2001, 9, 3))
---

<BaseLayout title="Douglas Rocha">
  <article class="mt-8 flex flex-col gap-16 pb-16">
    <div>
      <p class="mt-4 leading-relaxed text-gray-700 dark:text-gray-300">
        Hey there, My name's
        <span class="font-semibold text-black dark:text-white">Doug</span>
        and I'm a {age} y/o student at Arizona State University. I'm currently interested
        in
        <span class="font-semibold text-black dark:text-white"
          >web development</span
        >
        and
        <span class="font-semibold text-black dark:text-white"
          >game development with Rust</span
        >.
      </p>
    </div>

    <Tabs />

    <div class="space-y-6">
      <div class="space-y-4">
        <h2 class="text-2xl font-semibold">Blog</h2>
        <hr class="border-gray-500" />
      </div>

      <ul class="space-y-4 overflow-y-scroll">
        {
          blogs.map(({ data, slug }) => (
            <BlogCard slim data={data} slug={slug} />
          ))
        }
      </ul>

      <a
        href="/blog"
        class="ml-auto flex max-w-fit items-center rounded bg-neutral-600 px-4 py-2 text-sm"
      >
        All Blog Posts
        <ArrowRight className="ml-2 h-5 w-5" />
      </a>
    </div>
  </article>
</BaseLayout>
