---
import Card from '@components/Card.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import projects from '@data/projects.json'
---

<BaseLayout title="Projects" class="space-y-6">
  <h1 class="text-4xl font-semibold leading-none tracking-tight">Projects</h1>

  <ul class="flex flex-col gap-4">
    {
      projects.map(i => (
        <Card
          title={i.title}
          body={i.body}
          site_url={i.site_url}
          source_url={i.source_url}
        />
      ))
    }
  </ul>
</BaseLayout>
