---
import Card from '@components/Card.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="Projects" class="space-y-6">
  <h1 class="text-4xl font-semibold leading-none tracking-tight">Projects</h1>

  <ul class="flex flex-col gap-4">
    <Card
      site_slug="https://quanty.xyz"
      title="Quanty"
      body="Supercharge your Discord server with new features."
    />
    <Card
      source_slug="https://github.com/dougrocha/KeyboardTracker"
      title="Meka"
      body="Find your next keyboard with Meka and share your favorite keyboards with the community."
    />
    <Card
      source_slug="https://github.com/dougrocha/portfolio"
      title="Portfolio"
      body="Check out my portfolio and see how I built it."
    />
    <Card
      source_slug="https://github.com/dougrocha/dotfiles"
      title="Dotfiles"
      body="My configurations for Windows, MacOS and Linux."
    />
  </ul>
</BaseLayout>
