---
import { MoveRight } from 'lucide-react'

type Props = {
  title: string
  body: string
  slug: string
}

const { slug, title, body } = Astro.props
---

<li class="flex w-full rounded-lg dark:bg-neutral-800">
  <a href={slug} target="_blank" class="p-4">
    <h3 class="flex items-center font-semibold dark:text-white">
      {title}
      <MoveRight className="ml-2 h-4 w-4" />
    </h3>
    <p class="dark:text-gray-300">
      {body}
    </p>
  </a>
</li>
