---
import { MoveRight, Github, Globe } from 'lucide-react'

type Props = {
  title: string
  body: string
  source_url?: string
  site_url?: string
}

const { source_url, site_url, title, body } = Astro.props
---

<li
  class="flex flex-col rounded-lg p-4 transition-transform hover:-translate-y-2 dark:bg-[#2c2d48]"
>
  <h3
    class="mb-2 flex items-center gap-2 text-sm font-semibold leading-none dark:text-white"
  >
    {title}
    <MoveRight className="h-4 w-4" />
  </h3>
  <p class="mb-4 tracking-tight dark:text-gray-300">
    {body}
  </p>

  <div class="mt-auto flex gap-2">
    {
      source_url && (
        <a href={source_url} target="_blank">
          <div class="flex items-center gap-2 rounded px-2 py-1 text-sm leading-none transition-colors dark:bg-gray-50 dark:text-black dark:hover:bg-gray-300">
            <Github className="h-4 w-4" />
            Source
          </div>
        </a>
      )
    }
    {
      site_url && (
        <a href={site_url} target="_blank">
          <div class="flex items-center gap-2 rounded px-2 py-1 text-sm leading-none transition-colors dark:bg-gray-50 dark:text-black dark:hover:bg-gray-300">
            <Globe className="h-4 w-4" />
            Website
          </div>
        </a>
      )
    }
  </div>
</li>
