---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="flex w-full rounded-lg bg-neutral-800 p-4">
  <a href={href}>
    <h3 class="font-semibold text-white">
      {title}
      <span>&rarr;</span>
    </h3>
    <p class="text-gray-300">
      {body}
    </p>
  </a>
</li>
