---
import { ArrowRight } from 'lucide-react'
---

<div>
  <div class="space-y-4">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-semibold leading-none tracking-tight sm:text-2xl">
        current tech
      </h2>
    </div>
  </div>

  <div class="col-span-2 grid gap-2">
    <div>
      <p>text</p>
      <p>text</p>
    </div>
  </div>
</div>
