---
import { Coffee } from 'lucide-react'
---

<footer class="mt-8 flex-shrink-0 px-4 md:px-6">
  <div class="mx-auto flex max-w-screen-md items-center py-2 text-white">
    <span class="flex items-center space-x-1">
      <p>
        © {new Date().getFullYear()} - Made by Douglas Rocha {' '}
      </p>
      <Coffee />
    </span>
  </div>
</footer>
