---
import { Coffee, Mail } from "lucide-react";
import Github from "@/components/icons/Github.tsx";
import Linkedin from "@/components/icons/Linkedin.tsx";
import { cn } from "@/lib/utils";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;

const current_year = new Date().getFullYear();
---

<footer
  class={cn(
    "flex flex-col items-center pb-8 sm:flex-row-reverse sm:justify-between",
    className,
  )}
>
  <section class="flex gap-4">
    <a
      href="https://github.com/dougrocha"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Github </span>
      <Github className="h-5 w-5" />
    </a>
    <a
      href="https://www.linkedin.com/in/dougrocha/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Linkedin</span>
      <Linkedin className="h-5 w-5" />
    </a>
    <a href="mailto:dougsrocha3@gmail.com" rel="noopener noreferrer">
      <span class="sr-only">Email</span>
      <Mail className="h-5 w-5" />
    </a>
  </section>

  <section class="mt-6 sm:mt-0">
    <p class="flex text-center text-xs">
      <span
        >© {current_year}
        Made with care
      </span>
      <span>
        <Coffee className="ml-1 h-4 w-4" />
      </span>
    </p>
  </section>
</footer>
