---
import ThemeIcon from "@/components/ThemeIcon.astro";
import { cn } from "@/lib/utils";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;

const pathname = Astro.url.pathname;
---

<header
  class={cn(
    "sticky top-0 z-50 w-full border border-b-accent-foreground/10 bg-background/95 py-6 backdrop-blur supports-[backdrop-filter]:bg-background/60",
    className,
  )}
>
  <nav
    class="mx-auto flex max-w-(--breakpoint-md) items-center justify-between px-8"
  >
    <ul class="flex gap-4 sm:gap-8">
      <li
        class={cn(
          "font-medium text-muted-foreground transition-colors hover:text-black dark:hover:text-white",
          {
            "text-orange-500": pathname === "/",
          },
        )}
      >
        <a href="/">home</a>
      </li>

      <li
        class={cn(
          "font-medium text-muted-foreground transition-colors hover:text-black dark:hover:text-white",
          {
            "text-orange-500": pathname.includes("blog"),
          },
        )}
      >
        <a href="/blog">blog</a>
      </li>

      <li
        class={cn(
          "font-medium text-muted-foreground transition-colors hover:text-black dark:hover:text-white",
          {
            "text-orange-500": pathname.includes("projects"),
          },
        )}
      >
        <a href="/projects"> projects</a>
      </li>
    </ul>

    <ThemeIcon />
  </nav>
</header>
