---
import { cn } from '@lib/utils'
import ThemeIcon from '@components/ThemeIcon.astro'

type Props = {
  class?: string
}

const { class: className } = Astro.props

const pathname = Astro.url.pathname
---

<nav class={cn('flex items-center justify-between', className)}>
  <ul class="flex gap-4 sm:gap-8">
    <li
      class={cn(
        'font-medium text-gray-400 transition-colors hover:text-black dark:hover:text-white',
        {
          'text-black dark:text-[#EB5E28]': pathname === '/',
        },
      )}
    >
      <a href="/">home</a>
    </li>

    <li
      class={cn(
        'font-medium text-gray-400 transition-colors hover:text-black dark:hover:text-white',
        {
          'text-black dark:text-[#EB5E28]': pathname.includes('blog'),
        },
      )}
    >
      <a href="/blog">blog</a>
    </li>

    <li
      class={cn(
        'font-medium text-gray-400 transition-colors hover:text-black dark:hover:text-white',
        {
          'text-black dark:text-[#EB5E28]': pathname.includes('projects'),
        },
      )}
    >
      <a href="/projects"> projects</a>
    </li>
  </ul>

  <div class="ml-auto">
    <ThemeIcon />
  </div>
</nav>
