---
import { cn } from '@utils/cn'

type Props = {
  class?: string
}

const { class: className } = Astro.props

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<nav class={cn('flex h-16', className)}>
  {(Astro.request.url, pathname, currentPath)}
  <ul class="mx-auto flex h-full max-w-screen-md items-center sm:mx-0">
    <li>
      <a
        class={cn('px-4 py-2 font-medium hover:underline', {
          'rounded bg-neutral-700 hover:bg-neutral-500': !currentPath,
        })}
        href="/">Home</a
      >
    </li>

    <li>
      <a
        class={cn('px-4 py-2 font-medium hover:underline', {
          'rounded bg-neutral-700 hover:bg-neutral-500': currentPath === 'blog',
        })}
        href="/blog">Blog</a
      >
    </li>

    <li>
      <a
        class={cn('px-4 py-2 font-medium hover:underline', {
          'rounded bg-neutral-700 hover:bg-neutral-500':
            currentPath === 'projects',
        })}
        href="projects"
      >
        Projects</a
      >
    </li>
  </ul>
</nav>
