---
import { clsx } from 'clsx'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<nav class="mx-auto h-16 flex-shrink-0 px-4 sm:mx-0 md:px-6">
  <ul class="mx-auto flex h-full max-w-screen-md items-center">
    <li>
      <a
        class={clsx(
          currentPath === '' && 'bg-neutral-700 rounded hover:bg-neutral-500',
          'px-4 py-2 hover:underline font-medium',
        )}
        href="/">Home</a
      >
    </li>

    <li>
      <a
        class={clsx(
          currentPath.includes('blog') &&
            'bg-neutral-700 rounded hover:bg-neutral-500',
          'px-4 py-2 hover:underline font-medium',
        )}
        href="/blog">Blog</a
      >
    </li>

    <li>
      <a
        class={clsx(
          currentPath.includes('projects') &&
            'bg-neutral-700 rounded hover:bg-neutral-500',
          'px-4 py-2 hover:underline font-medium',
        )}
        href="projects"
      >
        Projects</a
      >
    </li>
  </ul>
</nav>
