---
import "@fontsource/inter";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  description?: string;
  class?: string;
};

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title ? title : "Douglas Rocha"}</title>
    <meta
      name="description"
      content={description ? description : "My personal blog."}
    />

    <ClientRouter />
  </head><body class="flex min-h-screen flex-col items-center space-y-6">
    <Header />

    <main class={cn("w-full max-w-(--breakpoint-md) grow px-8", className)}>
      <slot />
    </main>

    <Footer class="w-full max-w-(--breakpoint-md) px-8" />
  </body>
</html>
