---
import "@fontsource/inter";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { cn } from "@/lib/utils";
import "../styles/global.css";

type Props = {
  title: string;
  description?: string;
  class?: string;
};

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />

    <title>{title ? title : "Douglas Rocha Portfolio 2025"}</title>
    <meta
      name="description"
      content={description
        ? description
        : "Douglas Rocha, Student at ASU and Developer of things"}
    />
    <meta property="og:url" content={import.meta.env.SITE} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Douglas Rocha - Portfolio 2025" />

    <ClientRouter />
  </head><body class="flex min-h-screen flex-col items-center space-y-6">
    <Header />

    <main class={cn("w-full max-w-(--breakpoint-md) grow px-8", className)}>
      <slot />
    </main>

    <Footer class="w-full max-w-(--breakpoint-md) px-8" />
  </body>
</html>
