---
import "@fontsource/inter";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  class?: string;
};

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>Douglas Rocha</title>
    <ClientRouter />
  </head>

  <body class="flex min-h-screen flex-col space-y-6">
    <header
      class="border-b-accent-foreground/10 sticky top-0 w-full border py-6 backdrop-blur-xl"
    >
      <Nav class={"mx-auto max-w-(--breakpoint-md) px-8"} />
    </header>

    <main
      class={cn("mx-auto w-full max-w-(--breakpoint-md) grow px-8", className)}
    >
      <slot />
    </main>

    <Footer class={"w-full mx-auto max-w-(--breakpoint-md) px-8"} />
  </body>
</html>
