---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  data: CollectionEntry<"blog">["data"];
  slug: string;
};

const { title, pubDate, updatedDate, tags } = Astro.props.data;
---

<BaseLayout title={title}>
  <article class="prose dark:prose-invert max-w-full">
    <div class="mb-4">
      <h1>{title}</h1>
      <span>
        Published: {format(new Date(pubDate), "MMMM dd, yyyy")}
      </span>
      {
        updatedDate && (
          <span class="ml-2">
            Updated: {format(new Date(updatedDate), "MMMM dd, yyyy")}
          </span>
        )
      }
      •<span class="ml-2">{tags.join(" - ")}</span>
    </div>

    <slot>
      <p>There is no content for this post.</p>
    </slot>
  </article>
</BaseLayout>
