---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import { Badge } from "@/components/ui/badge";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  data: CollectionEntry<"blog">["data"];
  slug: string;
};

const { title, pubDate, updatedDate, tags } = Astro.props.data;
---

<BaseLayout title={title}>
  <article class="prose max-w-full dark:prose-invert">
    <h1>{title}</h1>

    <div class="flex flex-col">
      <span>
        Published: {format(new Date(pubDate), "MMMM dd, yyyy")}
      </span>
      {
        updatedDate && (
          <span>Updated: {format(new Date(updatedDate), "MMMM dd, yyyy")}</span>
        )
      }
    </div>

    <div class="flex flex-wrap gap-1">
      {tags.map((tag) => <Badge key={tag}>{tag}</Badge>)}
    </div>

    <slot>
      <p>There is no content for this post.</p>
    </slot>
  </article>
</BaseLayout>
